{% extends "layout.html" %} 
		{% block content %} 
        <br/>
        <div class="row">
            <div class="col-md-auto">
                <h4>Collection [{{database}}] {{collection}}</h4>
            </div>
            <div class="col-xxl">
             
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createDocument">Add Document</button>
            </div>
          </div>
        </div>
        <br/>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Workspaces</a></li>
              <li class="breadcrumb-item"><a href="/{{database}}">{{database}}</a></li>
              <li class="breadcrumb-item"><a href="/{{database}}/{{collection}}">{{collection}}</a></li>
            </ol>
        </nav>
        <br/>
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Object</th>
                        <th scope="col">View</th>
                        <th scope="col">Drop?</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for doc in documents%} 
                      <tr>
                        <th scope="row">{{ loop.index0 }}</th>
                        <td>{{doc}}</td>
                        <td><button type="button" class="btn btn-info" role="button" data-bs-document_text="{{doc}}", data-bs-document="{{doc._id}}" onclick="viewDocument()">View Document</button></td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDocument" data-bs-database="{{database}}" data-bs-collection="{{col}}" data-bs-document="{{doc._id}}" data-bs-document_text="{{doc}}">Delete Document</button></td>
                      </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
              </div>
              <div class="col">
                <label for="document_editor" class="form-label">Document</label>
                <br/>
                <textarea rows="1" cols="80" id="document_editor_doc_id" placeholder="Document Id" readonly></textarea>
                <textarea rows="20" cols="80" id="document_editor" placeholder="Select document first"></textarea>
              </div>
            </div>
          </div>

          <div class="modal fade modal-xl" id="createDocument" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Create Document</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                <div class="modal-body">
                        <input type="hidden"
                        name="type"
                        value = "create">
                        <div class="mb-3">
                          <label for="document" class="form-label">Document</label>
                          <textarea class="form-control"  name="document" id="document" rows="3" >
{
  "testattribute":"value"
}</textarea>
                        </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
              </div>
            </div>
          </div>

          <div class="modal fade modal-xl" id="deleteDocument" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Document</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="collection" class="col-form-label">Document:</label>
                        <input type="text" class="form-control" name="document" readonly>
                        <label for="collection" class="col-form-label">Document Content:</label>
                        <textarea class="form-control"  name="document_text" id="document_text" rows="3" readonly></textarea>
                        <input type="hidden"
                        name="type"
                        value = "delete">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
              </div>
            </div>
          </div>
          <script>
            function viewDocument() {
              const button = event.target;
              const document_id = button.getAttribute('data-bs-document');
              const document_text = button.getAttribute('data-bs-document_text');
              var document_editor_doc_id = document.getElementById("document_editor_doc_id");
              var document_editor = document.getElementById("document_editor");
              document_editor_doc_id.value = document_id;
              document_editor.value = document_text.replaceAll(",", ",\n");
        }
          </script>

          <script>
            

            const exampleModal = document.getElementById('deleteDocument')
                if (exampleModal) {
                exampleModal.addEventListener('show.bs.modal', event => {
                    // Button that triggered the modal
                    const button = event.relatedTarget;
                    // Extract info from data-bs-* attributes
                    const document = button.getAttribute('data-bs-document');
                    const document_text = button.getAttribute('data-bs-document_text');
                    const text_input = exampleModal.querySelectorAll('.modal-body input');
                    text_input[0].value = document;

                    const textarea_input = exampleModal.querySelectorAll('.modal-body textarea');
                    textarea_input[0].value = document_text.replaceAll(",", ",\n");
                })
                }
        </script>
{% endblock %} 
